<!doctype html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Дякуємо! Заявку прийнято</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<main class="container">
    <div class="card" style="text-align: center;">
        <h1>Повідомлення надіслано</h1>
        <p>Ваша заявка успішно зареєстрована та надіслана власнику сайту</p>
        <a href="javascript:history.back()" class="button">Повернутися назад</a>
    </div>
</main>
</body>
</html>